:root {
    --font-family: "Lato", sans-serif;
    --textColor: #000;
    --mainBgColor: #fff;
    --colorPlaceholder: #272733;
    --main-prem: #3e9cdc;
    --main-item: #6f6d7b;
    --container: 1205px;
}