
*,
*::after,
*::before {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Montserrat', sans-serif;
}
.main {
   overflow: hidden;
}

.intro__inner {
   display: block;
}

.intro {
   background: url("../images/bg.jpg") center no-repeat;
   background-size: cover;
   height: 100vh;
   position: relative;
}

.intro__inner {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}

.logo img,
.chip img {
   max-width: 100%;
}

.intro__link {
   text-align: center;
   display: block;
   font-size: 50px;
   width: 100%;
   text-decoration: none;
   padding: 20px 30px;
   color: #fff;
   text-transform: uppercase;
   font-weight: 800;
   background: linear-gradient(180deg, #58C900 0%, #3C8800 100%);
   border-radius: 64px;
}

.intro__link:hover {
   background: linear-gradient(180deg, #3C8800 0%, #58C900 100%);
}

@media (max-width: 1110px) {
   .intro__link {
      font-size: 42px;
   }
}

@media (max-width: 955px) {
   .intro__link {
      font-size: 36px;
   }
}
@media (max-width: 835px) {
   .intro__link {
      font-size: 32px;
   }
}

@media (max-width: 755px) {
   .intro__link {
      font-size: 26px;
   }
}

@media (max-width: 640px) {
   .intro__link {
      font-size: 22px;
   }
}
@media (max-width: 555px) {
   .intro__link {
      font-size: 18px;
   }
}
@media (max-width: 455px) {
   .intro__link {
      font-size: 14px;
   }
}

@media (max-width: 400px) {
   .intro__link {
      font-size: 10px;
   }
}